body {
    background-color: cadetblue;
    color:brown;
} 

.margin {
    margin-bottom: 20px;
}
   
.margin1 {
    margin-top: 20px;
}

.card-color {
    background-color:transparent;
    border: transparent;
}

.img-footer {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

#footer {
    background-color: rgb(76, 133, 190);
    
} 
